.banner {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: var(--mantine-color-gray-1);
}
