DB_NAME=chinook
DB_USER=chinook_admin
DB_PASSWORD=chinook_admin
DATABASE_URL=postgresql://chinook_admin:chinook_admin@localhost:5432/chinook
HOST_IP=192.168.106.1

# OAuth2 configuration
CLIENT_ID=app
CLIENT_SECRET=ZXhhbXBsZS1hcHAtc2VjcmV0
AUTHORIZATION_ENDPOINT=https://auth.127.0.0.1.nip.io:8443/dex/auth
TOKEN_ENDPOINT=https://auth.127.0.0.1.nip.io:8443/dex/token
REDIRECT_URI=http://localhost:5173/auth/callback
USERINFO_ENDPOINT=https://auth.127.0.0.1.nip.io:8443/dex/userinfo

# COOKIES
COOKIE_DOMAIN=127.0.0.1.nip.io
COOKIE_SECURE=false
## Generate a random string for COOKIE_SECRET
COOKIE_SECRET=q1udzgf7s8NBYs4xWcHn3pLh

NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem
